@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.144);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222222;
}

.preloader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99999999999;
  background-color: #fff;
  overflow: hidden;
}

.line-wobble {
  --uib-size: 120px;
  --uib-speed: 1.75s;
  --uib-color: black;
  --uib-line-weight: 6px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-line-weight);
  width: var(--uib-size);
  border-radius: calc(var(--uib-line-weight) / 2);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.line-wobble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--uib-color);
  opacity: 0.1;
}

.line-wobble::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: calc(var(--uib-line-weight) / 2);
  animation: wobble var(--uib-speed) ease-in-out infinite;
  transform: translateX(-95%);
  background-color: var(--uib-color);
}

@keyframes wobble {
  0%,
  100% {
    transform: translateX(-95%);
  }
  50% {
    transform: translateX(95%);
  }
}

.nav-link {
  color: #222222 !important;
}
.navbar a {
  text-decoration: none;
  color: #222222;
  font-weight: 400;
  margin-left: 10px;
  font-size: 18px;
}
.navbar a:hover {
  color: #222222;
}
.mail-nav img {
  height: 20px;
}
.btn-primary {
  background-color: #222222 !important;
  border-color: #222222 !important;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: 0.3s;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
  box-shadow: none !important;
}
.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:active:focus,
.navbar-light .navbar-toggler.active:focus,
.navbar-light .navbar-toggler.focus,
.navbar-light .navbar-toggler:active.focus,
.navbar-light .navbar-toggler.active.focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.navbar-light .navbar-toggler{
    border: none !important;
}
.background-text{
    width: 100%;
    position: absolute;
    right: 50%;
    transform: translate(73.4%, -300px);
}
.background-head {
	font-size: 6rem;
	font-weight: 900;
	-webkit-text-stroke: 1px #353535;
	-webkit-text-fill-color: transparent;
	opacity: 0.4;
	position: absolute;
	transform: rotate(-90deg);
	right: 0;
	z-index: -1;
    height: 200px;
    width: 700px;
    padding: 0;
}

.navbar-light .navbar-toggler-icon{
    background-image: url('./../icons/menu\ \(5\).png') !important;
    transition: 0.3s;
}

.about {
  margin-top: 100px;
}
.about .section-header {
  text-align: center;
  margin-bottom: 50px;
}
.about .section-header h1 {
  font-size: 40px;
  opacity: 0.8;
}
.about .section-header h1::before {
  content: " ";
  background-color: #22222234 !important;
  width: 200px;
  position: absolute;
  height: 13px;
  color: #fff !important;
  margin-top: 30px;
}
.about .section-header p {
  font-size: 16px;
  opacity: 0.8;
  padding-left: 250px;
  padding-right: 250px;
}
.right-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about img {
  height: 500px;
  border-radius: 50px;
}
.about h3 {
  font-weight: 600;
}
.about p {
  margin-top: 20px;
  line-height: 2;
  font-size: 20px;
}
.about a {
  text-decoration: underline !important;
  text-decoration-style: dotted !important;
  color: #333 !important;
  width: 20%;
  font-weight: 600;
}

// SKills

.skills {
  background: url("./../images/vector3.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}
.skills .section-header {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
.skills .section-header h1 {
  font-size: 40px;
  opacity: 0.8;
}
.skills .section-header h1::before {
  content: " ";
  background-color: #22222234 !important;
  width: 250px;
  position: absolute;
  height: 13px;
  color: #fff !important;
  margin-top: 30px;
}
.skills .section-header p {
  font-size: 16px;
  opacity: 0.8;
  padding-left: 250px;
  padding-right: 250px;
}

.skills .card {
  background-color: #fff;
  border: none;
  margin-top: 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  // border-bottom: 2px solid #4d77ff63;
  border-radius: 7px;
  overflow: hidden;
  height: 100px;
  display: flex;
  justify-content: center;
}
.skills .head-text-skills h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 56px;
}
.skills .icon-img {
  height: 70px;
  position: relative;
  right: 10;
  opacity: 0.9;
  filter: drop-shadow(0px 48px 100px 0px #110c2e26);
}
.skills .card .media {
  display: flex;
  justify-content: space-between;
}
.skills .card .media h3 {
  font-weight: 550;
  line-height: 70px;
}

.skills .html {
  background-color: #ec816625;
  border: 2px solid #e34c26;
}
.skills .html .media h3 {
  color: #e34c26;
}

.skills .css {
  background-color: #bbdefb72;
  border: 2px solid #42a5f5;
}
.skills .css .media h3 {
  color: #42a5f5;
}

.skills .js {
  background-color: #f6e46f3b;
  border: 2px solid #f0a500;
}
.skills .js .media h3 {
  color: #f0a500;
}

.skills .scss {
  background-color: rgba(214, 121, 168, 0.193);
  border: 2px solid #c69;
}
.skills .scss .media h3 {
  color: #c69;
}

.skills .bootstrap {
  background-color: #d0b4f949;
  border: 2px solid #563d7c;
}
.skills .bootstrap .media h3 {
  color: #563d7c;
}

.skills .react {
  background-color: #7cc5d94b;
  border: 2px solid #248fc9;
}
.skills .react .media h3 {
  color: #248fc9;
}

.skills .python {
  background-color: #f0f4ff;
  border: 2px solid #1271d1;
}
.skills .python .media h3 {
  color: #1271d1;
}

.skills .typescript {
  background-color: #9dd8ff34;
  border: 2px solid #007acc;
}
.skills .typescript .media h3 {
  color: #007acc;
}

.skills .wordpress {
  background-color: #9ce0ff2f;
  border: 2px solid #21759b;
}
.skills .wordpress .media h3 {
  color: #21759b;
}

.work {
  margin-top: 150px;
  background-image: url("./../images/vector3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.work .section-header h1::before {
  content: " ";
  background-color: #22222234 !important;
  width: 500px;
  position: absolute;
  height: 13px;
  color: #fff !important;
  margin-top: 30px;
}
.work .swiper-button-next,
.swiper-button-prev {
  position: absolute !important;
  top: 50px !important;
}
.work .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: auto !important;
  right: 100px !important;
  color: #000 !important;
}
.work .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  color: #000 !important;
}
.work .swiper-wrapper {
  height: 800px !important;
}
.work .work-card {
  width: 600px;
  margin-left: 50px;
  margin-right: 50px;
}
.work .work-card img {
  border-radius: 30px;
  border: 2px solid #fff;
  background-color: #fff;
}
.work-card-body {
  margin-top: 50px;
}
.work-card-body h3 {
  font-size: 26px;
  font-weight: 600;
}
.work-card-body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 30px;
}
.work-card-body a {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  color: #222222;
  text-decoration: underline;
  text-decoration-style: dotted;
  &:hover {
    color: #222222;
  }
}

.testimonial {
  margin-bottom: 50px;
}
.testimonial .section-header {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}
.testimonial .section-header h1::before {
  content: " ";
  background-color: #22222234 !important;
  width: 720px;
  position: absolute;
  height: 13px;
  color: #fff !important;
  margin-top: 30px;
  text-align: center;
}
.testimonial-card {
  width: 80%;
  padding: 90px;
  height: 400px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  background: #e6f7ff;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%) !important;
}
.testimonial-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 5px solid #fff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.testimonial-card-body {
  width: 75%;
}
.testimonial-card p {
  font-size: 15px;
  font-weight: 500;
  line-height: 2;
  opacity: 0.5;
}
.testimonial-card h3 {
  font-size: 18px;
  margin-top: 30px;
}
.testimonial-card h5 {
  font-size: 15px;
  font-weight: 500;
  line-height: 2;
  opacity: 0.5;
}

.contact {
  padding-top: 50px;
}
.contact img {
  height: 50px;
  margin-bottom: 20px;
}
.contact .social {
  margin-top: 26px;
}
.contact .social ul {
  display: flex;
}
.contact .social ul li {
  margin-right: 18px;
}
.contact .social ul li a img {
  height: 25px;
}
.contact .links ul {
  list-style-type: square;
}
.contact .links ul li a {
  text-decoration: none;
  font-weight: 400;
  color: #222222;
}
.contact .links p {
  text-decoration: none;
  font-weight: 500;
  color: #222222;
  font-size: 23px;
}
.contact .links ul li {
  margin-bottom: 15px;
  margin-left: 5px;
}
.contact .contact-me p {
  text-decoration: none;
  font-weight: 500;
  color: #222222;
  font-size: 23px;
}
.contact .contact-me ul li a {
  display: flex;
  text-decoration: none;
  color: #222222;
}
.contact .contact-me ul li img {
  height: 20px;
  margin-right: 20px;
}

@import "./responsive";
