
@media only screen and (max-width: 768px) {

    html,body
    {
        width:100%;
        overflow-x:hidden;
    }
    .mail-nav a{
        display: none !important;
    }
    .hero{
        padding-top: -300px !important;
    }
   .about .section-header p{
       padding-left: 0;
       padding-right: 0;
   }
   .about img{
       height: 420px;
       text-align: center;
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
   .about h3{
       margin-top: 20px;
   }
   .about p{
       line-height: 1.6;
       font-size: 16px;
   }
   .about a{
       width: 100%;
   }
   .skills .section-header p{
       padding-left: 0;
       padding-right: 0;
   }
   .work .section-header h1::before{
       display: none;
   }
   .work .slider-btn-col{
       display: none;
   }
   .work .work-card{
       width: 100%;
       margin-left: 0;
       margin-right: 0;
   }
   .testimonial .section-header h1::before{
       display: none;
   }
   .testimonial-card{
       width: 100%;
       display: grid;
       padding: 10px;
       height: 100% auto;
       background-color: #fff;
   }
   .testimonial-card-body{
       width: 100%;
   }
   .testimonial-card img{
       height: 70px;
       width: 70px;
   }
   .testimonial-card p{
       font-size: 12px;
       line-height: 1.6;
   }
   .work .swiper-wrapper{
       height: 600px !important;
   }
   .background-text{
       display: none;
   }
}

